h1 {
  color: red; }

* {
  box-sizing: border-box; }

body {
  position: relative;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

img {
  max-width: 100%;
  border: none; }

.app {
  margin-top: 3.25em; }

.container {
  max-width: 46em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em; }

.no-wrap {
  white-space: nowrap; }

.container:after, h1:after, h2:after, h3:after,
.primary-heading:after,
.secondary-heading:after,
.sub-heading:after, .stack-split:after, .stack-split__item:after {
  content: "";
  display: table;
  clear: both; }

.form {
  margin: 2em 0;
  text-align: left; }

label {
  display: block;
  font-size: 1.15em;
  margin-bottom: 0.25em; }

.checkbox-label {
  display: inline-block;
  margin-right: 1em; }

.input-field {
  margin-bottom: 1em; }

.text-input {
  width: 100%;
  background-color: #fafafa;
  border: 1px solid #b1aaaa;
  padding: 1em;
  font-size: 1em; }
  .text-input:focus {
    background-color: transparent;
    outline: 0;
    border: 1px solid #4e4343; }

.form-group {
  display: flex; }

.input-field--group {
  flex: 1; }
  .input-field--group:first-child {
    margin-right: 1em; }

.btn {
  background-color: #FFF;
  color: #E28FA5;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  display: block;
  margin: 1rem auto;
  width: 100%;
  height: 80px;
  max-width: 250px;
  text-transform: uppercase;
  overflow: hidden;
  border: 1px solid currentColor;
  -webkit-appearance: none; }
  .btn:hover, .btn:focus {
    background-color: #E28FA5;
    color: #FFF; }

.invalid {
  margin-bottom: 0.5em; }

.error {
  color: #ff4d4d;
  margin-top: 0; }

.link {
  color: inherit;
  cursor: pointer;
  text-decoration: none; }

.link--header {
  transition: color 0.7s ease; }
  .link--header:hover, .link--header:active {
    color: #E28FA5; }

.active {
  border-bottom: 1px solid #E28FA5; }

.list {
  padding: 0; }
  .list li {
    list-style-type: none; }

.list--inline li {
  display: inline-block;
  margin-right: 1.5em; }
  .list--inline li:last-child {
    margin-right: 0; }

.list--padding li {
  padding: 0.5em 0; }

.list-justified-left {
  text-align: left; }

.image {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 100%; }

.image--stacked {
  margin-bottom: 1em; }

body {
  font-size: 1em;
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 1.3;
  text-align: center; }

h1, h2, h3,
.primary-heading,
.secondary-heading,
.sub-heading {
  clear: both;
  color: #4e4343;
  font-weight: normal;
  font-family: 'Roboto', sans-serif; }

h1,
.primary-heading {
  font-size: 2em; }

h2,
.secondary-heading {
  font-size: 1.5em;
  font-weight: bold; }

h3,
.sub-heading {
  font-size: 1.3em;
  color: #364344;
  margin-bottom: .8rem; }

p,
.body-copy {
  color: #4e4343;
  margin: 0 0 1rem 0; }

.text-important {
  font-size: 1.2em; }

.site-header {
  background-color: #FFF;
  padding: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%; }
  @media screen and (min-width: 38em) {
    .site-header {
      padding: 0 .8em; } }

.hero {
  font-family: 'Quicksand', sans-serif;
  text-align: center; }

.hero__content {
  border-top: 2px solid #dad3d3;
  border-bottom: 2px solid #dad3d3;
  margin: 2em auto;
  width: 80%; }
  @media screen and (min-width: 38em) {
    .hero__content {
      width: 50%; } }

.hero__content__headline {
  color: #364344;
  font-size: 1.5em;
  font-weight: 300; }

.hero-trailer {
  margin-bottom: 2em; }

.nav {
  display: none; }
  @media screen and (min-width: 38em) {
    .nav {
      display: block; } }

.mobile-nav-trigger {
  display: block;
  padding: 1em; }
  @media screen and (min-width: 38em) {
    .mobile-nav-trigger {
      display: none; } }

.mobile-nav-item {
  display: block;
  margin-bottom: 1em; }

.nav-list {
  background-color: #364344;
  color: white;
  padding-top: 1em;
  margin: 0; }
  @media screen and (min-width: 38em) {
    .nav-list {
      background-color: #FFF;
      color: #364344;
      padding: 0;
      margin: 1em auto; } }

.nav-list__item {
  display: block;
  list-style-type: none;
  margin-bottom: 1em; }
  @media screen and (min-width: 38em) {
    .nav-list__item {
      display: inline-block;
      margin-right: 1.5em;
      margin-bottom: 0; } }
  .nav-list__item:last-child {
    margin-right: 0; }

.stack-split {
  display: block; }
  @media screen and (min-width: 43.75em) {
    .stack-split {
      display: flex; } }

.stack-split__item {
  flex: 1; }

.stack-split__item:first-child {
  margin-right: 0;
  margin-bottom: .5em; }
  @media screen and (min-width: 43.75em) {
    .stack-split__item:first-child {
      margin-right: 2em;
      margin-bottom: 0; } }

section,
.section {
  margin-bottom: 2em; }

.section-multiple {
  border-bottom: 2px solid #dad3d3;
  color: #364344;
  padding-bottom: 2em; }

.section-multiple:last-child {
  border-bottom: none;
  padding-bottom: 0; }

.section-title {
  color: #364344;
  margin-bottom: 0.8rem; }
