{% extends "layout.html" %}

<div class="app">
    <section class="hero">
        <div class="hero__image">
            <img class="image-small" src="images/soccer-ball.jpg" alt="soccer ball" />
        </div>
    </section>

    <div class="container">
        <section class="section-multiple">
            <p class="text-important">
                The Wedding will be held on Saturday, April 22nd, 2017. The day
                will start with a ceremoney at St. Anne's Catholic Church,
                then move to the hotel for the reception.
                There will be hotel rooms available for you to stay at.
                <a href="https://gc.synxis.com/rez.aspx?Hotel=71476&Lang=1&Chain=20144" target="_blank">Click here</a>
                and select the dates you would like to stay and use the code 0422VP to get the wedding rate.
            </p>
        </section>
        <section class="section-multiple">
            <div class="stack-split">
                <div class="stack-split__item">
                    <p class="secondary-heading section-title">
                        CEREMONY
                    </p>
                    <ul class="list list--padding">
                        <li>
                            2:00PM —&nbsp; 3:00PM
                        </li>
                        <li>
                            St. Anne's Catholic Church
                        </li>
                        <li>
                             32000 Mound Rd, Warren, MI 48092
                        </li>
                        <li>
                            (586) 264-0713
                        </li>
                    </ul>
                </div>
                <div class="stack-split__item">
                    <p class="secondary-heading section-title">
                        RECEPTION
                    </p>

                    <ul class="list list--padding">
                        <li>
                            5:00PM —&nbsp; 11:00PM
                        </li>
                        <li>
                            The ConCorde Inn of Clinton Township
                        </li>
                        <li>
                             44315 N Gratiot Ave, Charter Twp of Clinton, MI 48036
                        </li>
                        <li>
                            (586) 493-7300
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
