<title>Phillips Wedding 2017</title>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Phillips Wedding</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Quicksand|Roboto|Source+Sans+Pro" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://use.fontawesome.com/dfe38c06f3.js"></script>
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<script src="/javascript/main.js"></script>
