{% extends "layout.html" %}

{% block content %}
<div class="app">
   <div class="hero hero-trailer">
       <section class="hero__image hero-trailer">
           <img class="image" src="images/janina-mark-water.jpg" alt="" />
       </section>
       <p>
           COME CELEBRATE OUR WEDDING
       </p>
       <div class="hero__content">
           <h1 class="hero__content__headline">
               JANINA VELASCO
           </h1>
           <span>
               —&nbsp;
               <em>and</em>
               —&nbsp;
           </span>
           <h1 class="hero__content__headline">
               MARK PHILLIPS
           </h1>
       </div>
       <p>
           SATURDAY, APRIL 22ND, 2017
       </p>
   </div>
</div>
{% endblock %}
