<div class="app">
    <section class="hero">
        <div class="hero__image">
            <img class="image" src="images/janina-mark-log.jpg" alt="" />
        </div>
    </section>

    <div class="container">
        <section class="section-multiple">
            <h1 class="section-title">
                How We Met
            </h1>
            <p>
                Janina and Mark met through mutual friends but rewind about ten years
                and they met as young kids where Janina's dad coached Mark and his brother in soccer.
            </p>
        </section>

        <section class="section-multiple">
            <h1 class="section-title">
                The Proposal
            </h1>
            <p>
                Mark proposed on Friday, November 20th 2015 at the Christmas store at
                Canturbury Village. On their first Christmas they made an ornament
                stating as such. This year Mark suggested that they go have one made
                for them. Little did Janina know, Mark had already went ahead of time
                and had one made. Only, instead of it saying "2nd Christmas", it said
                "Janina will you marry me?". As they went back to the counter, Mark
                had the ring in his pocket, and he proceeded to ask the cashier to
                retrieve the special bulb. The cashier came back with it and handed it to Janina,
                with the message facing away from her, as Janina turned it around Mark knelt
                down and presented her with the ring. They both smiled, Janina cried,
                Mark was able to breathe, they laughed, hugged, kissed and both couldn't
                be happier at that moment.
            </p>
        </section>

        <section class="section-multiple">
            <h1 class="section-title">
                The Bridal Party
            </h1>
            <div class="stack-split">
                <div class="stack-split__item">
                    <h3 class="sub-heading">
                        Maid of Honor
                    </h3>
                    <p>
                        Juanita Velasco
                    </p>
                    <p>
                        Janina's oldest sister/best friend/party buddy.
                    </p>
                    <p>
                        <strong>Fun Fact:</strong> Loves to travel and loves the Detroit Lions.
                    </p>
                    <ul class="list">
                        <h3>
                            Bridesmaids
                        </h3>
                        <li class="section">
                            <p>
                                Alicia Soto
                            </p>
                            <p>
                                Janina's older sister/Dad's favorite of the girls
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Lives in Hawaii and owns three Huskies.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Lisa Abouselah
                            </p>
                            <p>
                                Future sister-in-law/mother of a sweet baby boy
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Lived in Chicago for about 6 years.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Jessica Niemi
                            </p>
                            <p>
                                Met in college/played collegiate soccer together
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Played semi-professional soccer and does a lot of missionary work.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Andrea Aznar
                            </p>
                            <p>
                                Met in college/Venezuelan AF.
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Gets so mad when people think Mexico is the only Spanish country.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Paige Bicoll
                            </p>
                            <p>
                                Went to highschool and college together/
                                played highschool and collegiate soccer together.
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Once sprained Janina's ankle playing on the same soccer team in high school.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Anna Antonnicola
                            </p>
                            <p>
                                Work together/partner-in-crime
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Loves all animals especially her dogs.
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="stack-split__item">
                    <h3 class="sub-heading">
                        Best Man
                    </h3>
                    <p>
                        Greg Phillips
                    </p>
                    <p>
                        Mark's older brother/down to earth family man
                    </p>
                    <p>
                        <strong>Fun Fact:</strong> Was an inspiring rap artist.
                    </p>
                    <ul class="list">
                        <h3>
                            Groomsmen
                        </h3>
                        <li class="section">
                            <p>
                                Ray Phillips
                            </p>
                            <p>
                                Mark's younger brother/roommate for 20+ years
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> He can do the worm.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Sam Abouselah
                            </p>
                            <p>
                                Mark's brother-in-law/father of sweet baby boy
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Fantasy sports wizard.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Vincent Velasco
                            </p>
                            <p>
                                Future brother-in-law/loves old music
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Always has a beer koozie on him.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Tony Garofalo
                            </p>
                            <p>
                                Mark's longest friend/best friend
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> Once shot a bird with a plastic ghost buster backpack.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Don Berg
                            </p>
                            <p>
                                Met growing up/roommate for 2 years
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> He loves America. No, he really really loves America.
                            </p>
                        </li>
                        <li class="section">
                            <p>
                                Randy Rowan
                            </p>
                            <p>
                                Closest friend/worked together
                            </p>
                            <p>
                                <strong>Fun Fact:</strong> He owns a lot of guns.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
