{% extends "layout.html" %}

<div class="app">
    <div class="container">
        <img class="image image--stacked" src="images/janina-mark-ball-date.jpg">
        <img class="image image--stacked" src="images/janina-mark-lee.jpg">
        <img class="image image--stacked" src="images/cleat.jpg">
        <img class="image image--stacked" src="images/janina-mark-classic.jpg">
        <img class="image image--stacked" src="images/janina-mark-pickup.jpg">
        <img class="image image--stacked" src="images/janina-mark-sitting.jpg">
        <img class="image image--stacked" src="images/janina-mark-standing.jpg">
        <img class="image image--stacked" src="images/janina-necklace.jpg">
        <img class="image image--stacked" src="images/soccer-ball.jpg">
    </div>
</div>
