{% extends "layout.html" %}

{% block content %}
<div class="app">
    <section class="hero">
        <div class="hero__image">
            <img class="image-small" src="images/janina-necklace.jpg" alt="" />
        </div>
    </section>

    <div class="container">
        <h1>
            Thank you for RSVPing!
        </h1>
        <p>
            We cannot wait to celebrate with you!
        </p>
        <p>
            If you have any questions please feel free
            to call Mary Velasco at <span class="no-wrap">(586) 939-1183</span>
            or Nancy Phillips at <span class="no-wrap">(586) 795-3378.</span>
        </p>
    </div>
</div>
{% endblock %}
