.list {
    padding: 0;

    li {
        list-style-type: none;
    }
}

.list--inline {
    li {
        display: inline-block;
        margin-right: 1.5em;

        &:last-child {
            margin-right: 0;
        }
    }
}

.list--padding {
    li {
        padding: 0.5em 0;
    }
}

.list-justified-left {
    text-align: left;
}
