section,
.section {
    margin-bottom: 2em;
}

.section-multiple {
    border-bottom: 2px solid $gray-light;
    color: $black;
    padding-bottom: 2em;
}

.section-multiple:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.section-title {
    color: $black;
    margin-bottom: 0.8rem;
}
